# Grafana Datasource Provisioning for Prometheus
# This automatically configures Prometheus as a datasource in Grafana

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    uid: edpuvus67ylfkf
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      queryTimeout: "60s"
